
<table align="left" border="0" class="table table-blue" style="width: 300px;text-align: left;color: blue;" >
    <ul>
        <li style="font-size: 25px;padding: 5px;">
            <a routerLink="/buslist" routerLinkActive="active">
            Bus List
            </a>
        </li>
        <li style="font-size: 25px;padding: 5px;">
            <a routerLink="/addbus" routerLinkAvtive="active">
            Add Bus
            </a>
        </li>
        <li style="font-size: 25px;padding: 5px;">
            <a routerLink="#" routerLinkAvtive="active">
                Pick Point
                </a>
        </li>
        <li style="font-size: 25px;padding: 5px;">
            <a routerLink="#" routerLinkAvtive="active">
                Destination
                </a>
        </li>
        <li style="font-size: 25px;padding: 5px;">
            <a routerLink="/state" routerLinkAvtive="active">
                State
                </a>
        </li>
        <li style="font-size: 25px;padding: 5px;">
            <a routerLink="/city" routerLinkAvtive="active">
                City
                </a>
        </li>
    </ul>
</table>
