{% extends 'base.html' %}

{%block content%}
<form method="post" style=" width: 50vw; margin-left : 25vw;">
  {%csrf_token%}
  <div class="row pt-5">
    <div class="col">
      <h4 class="rounded-circle text-center alert alert-info">Sign in</h4>
      <label for="username" class="col-sm-2 col-form-label">Username</label>
      <div class="col">
        <input type="text" class="form-control" id="username" name="username">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col">
        <input type="password" class="form-control" id="password" name="password">
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button id="submitBtn" class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
{%endblock%}