 
<form>
    <div class='container'>
    <table align="center" border="0">
        <tr>
            <th height="50px"></th>
        </tr>
        <tr>
            <th style="border-radius: 30px;font-size: 20px;color: white;text-align: center;padding: 5px;background-color: blue;font-family: Arial, Helvetica, sans-serif;" colspan="3">LOGIN HERE</th>

        </tr>
        <tr>
            <th style="color: blue;">username</th>
            <th style="padding: 20px;"><input type="text" [(ngModel)]="username" name="username"></th>
        
        </tr>
        <tr>
            <th style="color: blue;">password </th>
            <th style="padding: 20px;"><input type="password" [(ngModel)]="password" name="password" id="password"></th>
            
        </tr>
        
        <tr>
            <th colspan="2"><button type="submit" class="btn btn-primary" (click)="check()">login</button></th>
            <th style="padding-left: 100px;">
                <button type="submit" class="btn btn-danger">
                    <a routerLink="/">Back</a>
                </button>
            </th>
            <th><span style="color: red;font-size: 20px;">{{result}}</span></th>
        </tr>
        </table>
        </div>
        </form>